.cards {
  &-list {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    row-gap: 0;
  }

  .card {
    will-change: transform;

    &-wrapper {
      position: relative;
      z-index: 1000;

      &.offset {
        transform: translateY(25%);
      }

      &.offset-mini {
        transform: translateY(15%);
      }
    }
  }
}

// Moving bands
.marquees {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  top: 0;
  bottom: 0;
}

.marquee {
  position: absolute;
  font-size: 10vw;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;

  &.one {
    top: 28%;
    transform: translateX(-50vw) rotate(26deg);
  }

  &.two {
    top: 40%;
  }

  &.three {
    top: 55%;
    transform: rotate(9deg);
  }

  &.four {
    top: 70%;
    transform: translateX(-50vw) rotate(-19deg);
  }

  &.five {
    top: 83%;
    transform: translateX(-10vw) rotate(3deg);
  }
}

.marquee-inner {
  display: block;
  white-space: nowrap;
  padding: 0 .1em;
  font-weight: bold;
  font-size: 10vw;
  background: $red;
  width: fit-content;
  will-change: transform;
}

// Lies
.lies {
  background: $black;
  padding-bottom: 5rem;

  .section-header {
    color: $white;
    font-size: $text-base;
    font-family: $font-family-sans-serif;
    text-transform: unset;
    text-align: right;
    padding: 2rem;
  }
}

// Proposals
.proposals {
  background: $white;

  .section-header {
    color: $black;
    font-size: $text-base;
    font-family: $font-family-sans-serif;
    text-transform: unset;
    text-align: right;
    padding: 2rem;
  }

  .marquee-inner {
    background: $green;
  }
}

@media (max-width: $breakpoint-md) {
  .cards {
    &-list {
      position: relative;
      z-index: 10;
      grid-template-columns: repeat(10, 80%);
      gap: 1rem;
      margin: 0 -1rem;
      padding: 2rem 0;
      scroll-padding: 1rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      .card-wrapper {
        transform: translateX(1rem);
        scroll-snap-align: start;
      }
    }

    &-section {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      position: relative;

      .section-header {
        padding: 1rem;
        position: relative;
        z-index: 10;
      }

      .container {
        margin: auto 0;
      }
    }
  }

  .marquees {
    overflow: hidden;
    z-index: 1;

    .marquee-inner {
      font-size: 16vw;
      animation: MarqueeMove 45s linear infinite;
    }

    .marquee {
      &.one {
        top: 30%;
      }

      &.two {
        top: 21%;
      }
    }
  }
}

@keyframes MarqueeMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-80%);
  }

  100% {
    transform: translateX(0);
  }
}
