.cards {
  &-list {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8rem;
    row-gap: 0;
  }

  .card {
    &-wrapper {
      position: relative;
      z-index: 1000;

      &.offset {
        transform: translateY(25%);
      }

      &.offset-mini {
        transform: translateY(15%);
      }
    }
  }
}

.marquees {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  top: 0;
  bottom: 0;
}

.marquee {
  position: absolute;
  font-size: 10vw;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;

  &.one {
    top: 28%;
    transform: translateX(-50vw) rotate(26deg);
  }

  &.two {
    top: 40%;
  }

  &.three {
    top: 55%;
    transform: rotate(9deg);
  }

  &.four {
    top: 70%;
    transform: translateX(-50vw) rotate(-19deg);
  }

  &.five {
    top: 83%;
    transform: translateX(-10vw) rotate(3deg);
  }
}

.marquee-inner {
  display: block;
  white-space: nowrap;
  padding: 0 .1em;
  font-weight: bold;
  font-size: 10vw;
  background: $red;
  width: fit-content;
}

.lies {
  background: $black;
}

@media (max-width: $breakpoint-md) {
  .cards {
    &-list {
      grid-template-columns: 1fr;
    }
  }
}