.comparison {
  --comparison-height: 500vh;

  position: relative;
  height: var(--comparison-height);

  &-section {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;

    &-wrapper {
      position: relative;
    }

    &.images {
      position: static;

      .comparison-section-wrapper {
        height: calc(var(--comparison-height) - 85vh);
      }
    }

    &.year-1960 {
      top: 0;

      .comparison-section-wrapper {
        height: 150vh;
      }
    }

    &.year-2021 {
      top: 125vh;

      .comparison-section-wrapper {
        height: 150vh;
      }
    }

    &.header {
      top: 250vh;

      .comparison-section-wrapper {
        height: 250vh;
      }

      h2 {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  &-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;

    &.text {
      align-items: center;
      justify-content: center;
      color: white;
      font-size: clamp(3rem, 12vw, 15rem);
      font-family: $headings-font-family;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.05;
    }

    &.top-0 {
      top: 0;
    }
  }

  .rail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .image-wrapper {
    position: relative;
    flex-grow: 1;
  }

  .image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;

    &-a {
      background-image: url('../assets/beach-bn.webp');
    }

    &-b {
      background-image: url('../assets/beach-col.webp');
      clip-path: polygon(0 0, var(--progress) 0, var(--progress) 100%, 0% 100%);
    }
  }
}

.intro-paragraph {
  font-size: $text-base;
  line-height: 1.25;
  margin-bottom: 10vh;
  margin-top: -25vh;

  p {
    max-width: 60ch;
    margin: 0 auto;
    text-align: center;
  }
}
