@font-face {
  font-family: 'Formula Condensed';
  src:
    url('./assets/fonts/FormulaCondensed-Bold.woff2') format('woff2'),
    url('./assets/fonts/FormulaCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('./assets/fonts/cheltenham-italic-700.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
