.section-footer {
  padding: 12vh 0 0;
  background: $white;

  h2 {
    font-size: clamp(3rem, 11vw, 14rem);
    text-align: center;
    line-height: 1;
  }

  p {
    text-align: center;
  }

  .conclusion {
    max-width: 60ch;
    margin: 0 auto;
  }

  .calls-to-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 6vh;

    .mani {
      grid-column: span 2;
      border: 4px solid $orange;
      padding: 1.5rem 1rem 1rem;
      color: $orange;

      h2 {
        font-size: clamp(2rem, 4vw, 6rem);
        line-height: 1;
      }

      p {
        margin-bottom: .25rem;
      }

      p:last-child {
        margin-bottom: 0;
      }

      a {
        color: $orange;
        text-decoration: underline;
        text-decoration-color: rgba($orange, .25);

        &:hover {
          text-decoration-color: $orange;
        }
      }
    }

    .cta {
      color: $white;
      font-family: $headings-font-family;
      display: block;
      padding: 1.5rem 1rem 1rem;
      text-decoration: none;
      font-weight: bold;
      border: 4px var(--button-color) solid;
      background: var(--button-color);
      text-align: center;
      text-transform: uppercase;
      font-size: clamp(2rem, 3.5vw, 4.5rem);
      line-height: 1.4;

      &:hover {
        background: $white;
        color: var(--button-color);
      }
    }

    .twitter {
      --button-color: #1da1f2;
    }

    .facebook {
      --button-color: #1778f2;
    }

    .whatsapp {
      --button-color: #25d366;
    }

    .telegram {
      --button-color: #08c;
    }
  }

  .author {
    margin: 12vh 0 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      height: 2rem;
      margin-bottom: 1rem;
    }

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: $black;
      }
    }

    &-signature {
      font-size: 1rem;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .section-footer {
    .calls-to-action {
      grid-template-columns: 1fr;

      .mani {
        grid-column: span 1;
      }
    }
  }
}
