.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: $white;
  font-size: $text-base;
  opacity: 1;
  transition: .5s ease-in-out;

  h1 {
    font-size: inherit;
    margin: 0;
  }

  a {
    color: $white;
  }

  .logo {
    margin-left: auto;

    svg {
      height: 1.2em;
    }
  }
}

.hide-nav {
  opacity: 0;
}

.logo-wrapper {
  transition: max-width 0.5s ease;
  max-width: 15rem;
}

@media (max-width: $breakpoint-md) {
  .logo-wrapper {
    max-width: 1.8rem;
    overflow: hidden;
  }
}
