.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  padding: 1rem;
  color: $white;
  font-size: $text-base;

  h1 {
    font-size: inherit;
    margin: 0;
  }

  a {
    color: $white;
  }

  .logo {
    margin-left: auto;

    svg {
      height: 1.2em;
    }
  }
}

.logo-wrapper {
  transition: max-width 0.5s ease;
  max-width: 15rem;
}

@media (max-width: $breakpoint-md) {
  .logo-wrapper {
    max-width: 1.8rem;
    overflow: hidden;
  }
}
