// Fonts
$font-family-sans-serif: 'Manrope', sans-serif;
$headings-font-family: 'Formula Condensed', impact, sans-serif;

// Colors
$black: #1a1d1f;
$white: #fff;
$green: #6ac187;
$yellow: #ffc90c;
$red: #d45651;

// Assign colors
$body-bg: $yellow;
$body-color: $black;
$link-color: $black;

// Shadows
$box-shadow: 5px 5px 20px 3px rgba($black, .25);
$box-shadow-sm: 3px 3px 20px -3px rgba($black, .25);

// Bar heights
$nav-bar-height: 4.5rem;
$score-bar-height: 5rem;
$button-bar-height: 5rem;

// Text sizes
$text-base-fallback: calc(.85rem + 1.25vw);
$text-base: clamp(1rem, 2vw, 1.5rem);
$text-m: 1.5rem;
$text-lg-fallback: calc(1.25rem + 1.75vw);
$text-lg: clamp(1.5rem, 1.75vw, 2.15rem);
